<!DOCTYPE html>


<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Addmission edge</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Colleges</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="blogs">current updates</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">admission edge Educational consultancy !</div>
                <div class="intro-heading">Right Guidance . Right University</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STUDENT PROFILE ANALYSIS</h4>
                    <p class="text-muted">Applying for education is not as easy as just an application form. You would not want to end up in the wrong place or course. You are invited for a 360 degree career planning & course selection session. where our qualified counselors know best how to match your resources with your career aspirations & your requirements with those of the universities..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">COURSE/UNIVERSITY SELECTION & ADMISSION ASSISTANCE </h4>
                    <p class="text-muted">With our one-to-one counselling, determine which course is apt for your career & financial constraints & which universities you can do best at. Our partnership with universities allows us to make available exclusive scholarships, error-free applications, timely correspondences & best possible results.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">FINANCIAL AID & SCHOLARSHIP </h4>
                    <p class="text-muted">Our exclusive sources keep updating scholarships as & when they become available. Ask us how to manage finances for education abroad. Be it your own money or a loan, our expert counsellors will guide you how, where & when to get finances settled in the most convenient, timely & cost-effective way. We have some financial institutions tied up ready for your assistance.</p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">colleges</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>top engineering colleges 2017</h4>
                        <p class="text-muted">A glance at Engineering colleges.. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>top medical colleges</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>top management colleges </h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/golden.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2017 best coaching lists</h4>
                        <p class="text-muted">coaching institute in delhi</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>upcoming entrance exams</h4>
                        <p class="text-muted">upcoming entrance examination </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>online educational apps </h4>
                        <p class="text-muted">online app lists for prepration</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">it is about us.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our comman dream that drive us to get together and help find, consil and assist students to grow !</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We established ouself with a company "admission edge educational consultancy" in two places in north delhi and assisted more than 400 student within that year !</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">Expansion across Delhi Ncr</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We never took a break..it was very pleasent jurney throughout as we grew as a orgnisation.fullfilling our deam to help student prepare for entrance examinations as well as assiting them on a regular basis to choose a better university..!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2016</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Established Admission edge in chennai, help more than 300 student in one to one councelling session...currently we are prasent in delhi ncr and chennai..</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">We as a team Help build your dreams !!!.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Vijay Rai </h4>
                        <p class="text-muted">Admission edge </p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/VIJAYRAI0302"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/vijay-rai-19099639/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ujjawal verma</h4>
                        <p class="text-muted">Admission edge.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/ujjawal.crystal"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ujjawal-verma-61777b27/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Manohar Pandey</h4>
                        <p class="text-muted">Founder at Eduspine.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/manoharpandey"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/manohar-pandey-3277329/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">follow us, like us and share our posts on facebook, twitter and Linkedin.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
   

    <!-- Contact Section -->
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58fe5a8564f23d19a89aeffa/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>2017 Top Engineering colleges..</h2>
                                <p class="item-intro text-muted">List of Top 40 engineering Colleges in 2017.</p>
                                <img class="img-responsive img-centered" src="assets/portfolio/roundicons-free.png" alt="">
                                <p>1. Vellore Institute of Technology, Vellore
2. Birla Institute of Technology & Science, Pilani
3. Shanmugha Arts Science Technology & Research Academy (SASTRA), Thanjavur 
4. Thapar University, Patiala 
5. Sri Sivasubrmaniya Nadar College of Engineering, Kalavakkam 
6. Birla Institute of Technology, Ranchi
7. PSG College of Technologyy, Coimbatore 
8. S.R.M Institute of Science and Technology, Chennai 
9. Thiagarajar College of Engineering, Madura
10. Zakir Husain College of Engineering & Technology, Aligarh 
11. Manipal Institute of Technology, Manipal 
12. M. S. Ramaiah Institute of Technology, Bengaluru
13. AMITY University, Gautam Budh Nagar 
14. Kalinga Institute of Industrial Technology, Bhubneshwar 
15. R.V. College of Engineering, Bengaluru 
16. Coimbatore Institute of Technology, Coimbatore 
17. B.M.S. College of Engineering, Bengaluru
18. Jaypee Institute of Information Technology, Noida 
19. Kongu Engineering College, Perundurai 
20. Vel Tech Rangarajan Dr.Sagunthala R&D Institute of Science and Technology, Chennai
21. Karunya Institute of Technology and Sciences, Coimbatore
22. Shri Ramdeobaba College of Engineering and Management, Nagpur 
23. Bharati Vidyapeeth Deemed University College of Engineering, Pune 
24. G. H. Raisoni College of Engineering, Nagpur 
25. Koneru Lakshmaiah Education Foundation University (K L College of Engineering), Vaddeswaram 
26. Dhirubhai Ambani Institute of Information and Communication Technology, Gandhinagar 
27. Siddaganga Institute of Technology, Tumkur
28. Mepco Schlenk Engineering College, Sivakasi 
29. International Institute of Information Technology, Hyderabad
30. Army Institute of Technology, Pune
31. PSNA College of Engineering and Technology, Dindigul
32. Nirma University, Ahmedabad
33. Sagi Ramakrishnam Raju Engineering College, Bhimavaram
34. Kumaraguru College of Technology, Coimbatore 
35. Jaypee University of Information Technology, Solan
36. R.M.K. Engineering College, Kavaraipettai
37. PES University, Bengaluru 
38. Vignan's Foundation for Science, Technology and Research, Guntur 
39. B.S. Abdur Rahman Institute of Science and Technology, Chennai 
40. Chaitanya Bharathi Institute of Technology, Hyderabad!</p></div>
                                <p>
                                    <strong>Want to get into best..contact us @vijayrai0302@gmail.com!!</strong>or check our form on website<a href="#">www.admissionedge.in</a> <a href="www.admissionedge.in"></a>.</p>
                                <ul class="list-inline">
                                    <li>Date: March 2017</li>
                                    <li>Client: adimission_edge</li>
                                    <li>Category: Educational Consultancy</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Courses for bio stream students !!</h2>
                                <p class="item-intro text-muted"> list is printted below..</p>
                                <img class="img-responsive img-centered" src="assets/portfolio/startup-framework-preview.png" alt="">
                                <p><a href="#">The best medical courses are as the following:

M. B. B. S. (Bachelor of Medicine and Bachelor of Surgery) – 5.5 years
MBBS is the bachelor degree in medical field for cure & diagnose, awarded in many countries.

B. D. S. (Bachelor of Dental Surgery) – 4 years
BDS is a professional degree programme in dentistry.

B. H. M. S. (Bachelor of Homeopathic Medicine & Surgery) – 5.5 years
BHMS is a bachelor degree in Homeopathic Education in India regulated by the National Institute of Homeopathy.

B. A. M. S. (Bachelor of Ayurvedic Medicine and Surgery) – 5.5 years
BAMS is a bachelor degree in ayurvedic system of medical field. In India, the Ayurvedic Education is regulated by the Central Council of Indian Medicine (CCIM).

M.D. (Doctor of Medicine) – 3 years
This degree is awarded to the doctors who are physicians. The minimum eligibility for this course is MBBS.

M.S. (Master of Surgery) – 3 years
This degree is awarded to the doctors who master course in surgery. The minimum eligibility for this course is MBBS.

D.M (Doctorate in Medicine) – 2 to 3 years
DM is a doctorate degree equivalent to the PhD degree awarded by the many universities in the USA. Doctors having M.D degree are eligible for this course.

B.Pharm (Bachelor of Pharmacy) – 4 years
Candidate must have passed 10+2 with at least 50% marks with biology/mathematics as one of the compulsory subjects, or D.Pharm (Diploma in Pharmacy). This degree involves the knowledge of pharmacy.

B.Sc Nursing – 4 years
Candidate must have passed 10+2 with Physics, Chemistry & Biology with a minimum of 45% marks. The motive of B.Sc. Nursing programme is to produce the qualified nurses, as a member of the health care team.

B.P.T (Physiotherapy) – 4.5 years
Candidate must have passed in 12th class or equivalent with a minimum 50% marks in physics, chemistry and biology. Physiotherapy helps the temporary disabled people in their rehabilitation.

B.O.T (Occupational Therapy) – 3 years
Candidate must have passed 10+2 with Physics, Chemistry & Biology. Some institutions may opt for an entrance examination. The Occupational Therapy helps the people to enable in their everyday life and treats the emotionally and physically challenged people.

B.U.M.S (Unani Medicine) – 5.5 years
BUMS degree is equivalent to the BAMS, but in Unani medicines. Candidate must have passed 10+2 with Physics, Chemistry & Biology. Urdu is compulsory up to 10th class or equivalent Education. Candidate must have attained minimum 17 years of age at the admission.

D.Pharm (Ayurvedic, Siddha Medicine) – 2 years
It is a medical diploma course in pharmacy of ayurvedic medicines. Candidate must have passed 10+2 with Physics, Chemistry & Biology.

BMLT (Bachelor of Medical Lab Technicians) – 3 year
It is a bachelor degree of medical laboratory technology, contains the entire laboratory practices of the medical system. Candidate must have cleared the 10+2 exam with PCB. Various institutions are offering the B.Sc. programme in medical laboratory technology in India.

DMLT (Diploma of Medical Lab Technicians) – 1 year
It is a medical diploma course of medical laboratory technology, contains the laboratory practices of the medical field. Candidate must have cleared the 10+2 exam with PCB..</p>
                                <p>check them well even on  <a href="www.admissionedge.in">here</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2></h2>
                                <p class="item-intro text-muted">Top 25 Management Colleges in India.</p>
                                <img class="img-responsive img-centered" src="assets/portfolio/treehouse-preview.png" alt="">
                                <p>Treehouse is a free PSD web template built by <a href="#"></a>.The Human Resource Development (HRD) Ministry has already released the top universities, management, engineering and pharmacy colleges list. This first-of-its-kind indigenous ranking framework for higher education institutions is in response to global rankings in which Indian universities and colleges usually do not fare too well.
The ‘India Ranking Report 2016’ of the country’s government and private institution was prepared according to the National Institutional Ranking Framework (NIRF), an entity launched by the ministry in September last year for six categories.
The framework has outlined a methodology to identify the broad parameters for ranking institutions under “teaching, learning and resources (TLR)”, “research and professional practices (RPC)”, “graduation outcomes (GO)”, “outreach and inclusivity (OI)” and “perception

Indian Institute of Management Bangalore    1972    Bengaluru   93.04   1
Indian Institute of Management Ahmedabad    1961    Ahmedabad   89.92   2
Indian Institute of Management Calcutta 1961    Kolkata 87.45   3
Indian Institute of Management Lucknow  1984    Lucknow 86.13   4
Indian Institute of Management Udaipur  2010    Udaipur 84.23   5
Indian Institute of Management Kozhikode    1996    Kozhikode   81.97   6
International Management Institute, New Delhi   1981    New Delhi   81.78   7
Indian Institute of Forest Management, Bhopal   1982    Bhopal  81.01   8
Indian Institute of Technology Kanpur   1959    Kanpur  79.44   9
Indian Institute of Management Indore   1996    Indore  78.63   10
Management Development Institute, Gurgaon   1972    Gurgaon 77.45   11
International Management Institute, Kolkata 2011    Kolkata 77.17   12
Xavier Labour Relations Institute (XLRI), Jamshedpur    1949    Jamshedpur  75.30   13
Indian Institute of Management Tiruchirappalli  2011    Tiruchirappalli 75.24   14
Thiagarajar School of Management, Madurai   1962    Madurai 74.68   15
S. P. Jain Institute of Management & Research, Mumbai   1981    Mumbai  74.60   16
Vellore Institute of Technology, Vellore    1994    Vellore 73.01   17
Indian Institute of Management Raipur   2010    Raipur  72.42   18
Indian Institute of Management Rohtak   2009    Rohtak  72.37   19
Rajiv Gandhi Indian Institute of Management Shillong    2007    Shillong    71.94   20
Indian Institute of Management Kashipur 2011    Kashipur    70.11   21
Indian Institute of Information Technology & Management, Gwalior    1997    Gwalior 69.42   22
Fore School of Management, New Delhi    1981    New Delhi   68.33   23
Lal Bahadur Shastri Institute of Management, New Delhi  1995    New Delhi   68.18   24
Birla Institute of Technology, Ranchi   1955    Ranchi  67.66   25
”. <a href="#">admissionedge.in</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Top coaching institute in delhi</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="assets/portfolio/golden-preview.png" alt="">
                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="#">Admission edge</a>. vvvvvvvvvvvvvvvvvvvvvvvv.</p>
                                <p>You can download the PSD <a href="#">admission edge consultancy</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Upcoming Entrance Exams </h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="assets/portfolio/escape-preview.png" alt="">
                                <p>admission edge <a href="#">Mathavan Jaya</a>. .</p>
                                <p> <a href="">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Apps that helps you grow</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="assets/portfolio/dreams-preview.png" alt="">
                                <p>Dreams fuck <a href="">.</p>
                                <p>You can download the PSD  <a href="#">admissionedge.in</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
